<!DOCTYPE html>
<html>
<head>
  <title>Appointment Details</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      margin: 0;
      padding: 0;
    }

    h1 {
      color: #333;
      text-align: center;
      margin-top: 20px;
    }

    h2 {
      color: #333;
      margin-top: 20px;
    }

    a {
      color: #007BFF;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
       body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      margin: 0;
      padding: 0;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
      background-color: #fff;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    th,
    td {
      padding: 10px;
      border: 1px solid #ccc;
      text-align: left;
    }

    th {
      font-weight: bold;
    }
  </style>
</head>
<body>
  <h1>Appointment Details</h1>
  <table>
    <tr>
      <th>Patient</th>
      <td><%= link_to @appointment.patient.name, @appointment.patient %></td>
    </tr>
    <tr>
      <th>Doctor</th>
      <td><%= link_to @appointment.doctor.name, @appointment.doctor %></td>
    </tr>
    <tr>
      <th>Appointment Time</th>
      <td><%= @appointment.appointment_time.strftime("%B %d, %Y %H:%M") %></td>
    </tr>
  </table>
</body>
</html>
